{
  "check-coverage": true,
  "statements": 70,
  "lines": 70,
  "include": [
    "src/*.ts"
  ],
  "exclude": [
    "src/index.ts"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "extension": [
    ".ts"
  ],
  "cache": false,
  "all": false,
  "temp-dir": "./coverage-tmp",
  "report-dir": "./coverage"
}
